{% extends "base.html" %}

{% block title %}Digital Familiar - Log In{% endblock %}

{% block content %}
<h1>Log In</h1>

{% if user.is_authenticated %}
    <p>You are already logged in as <b>{{ user.username }}</b>. Please log out if you wish to 
        log into another account</p>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">logout</button>
        </form>
{% else %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Log In</button>
    </form>
    <a href="{% url 'signup' %}">Sign Up</a>
    <a href="{% url 'password_reset' %}">Reset password</a>
{% endif %}

<a href="{% url 'home_page' %}">Back to Landing Page</a>
{% endblock %}