{% extends "base.html" %}

{% block title %}Digital Familiar - Sign Up{% endblock %}

{% block content %}
<h1>Sign Up</h1>

{% if user.is_authenticated %}
    <p>You are already logged in as <b>{{ user.username }}</b>. Please log out if you wish 
        to sign up far an account</p>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">logout</button>
        </form>
{% else %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Sign Up</button>
</form>
<a href="{% url 'login' %}">Log In</a>
{% endif %}

<a href="{% url 'home_page' %}">Back</a>
{% endblock %}